@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>

    <a asp-area="" asp-controller="Courses" asp-action="Index" class="btn btn-secondary btn-sm" role="button" style="background-color: royalblue; ">Go to courses</a>
</div>
