
@{
    ViewData["Title"] = "Check your email";
}

<div style="margin-top:30px"><h2>Thanks for signing up.</h2></div>


<div>
    <p>
         Please check your email for confirmation !
    </p>
</div>